@media (max-width: 440px) {
  .header-display {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .header-display {
    display: none;
  }
}

@media (max-width: 440px) {
  .body-banner-desktop {
    display: none;
  }
}

@media (min-width: 1024px) {
  .body-banner-mobile {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .body-banner-mobile {
    display: none;
  }
}

@media (max-width: 440px) {
  .banner-box {
    width: 100%;
    justify-content: flex-end;
    padding: 32px 0;
  }
}
@media (min-width: 1024px) {
  .banner-box {
    width: 50%;
    padding: 0 8px;
    justify-content: center;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .banner-box {
    width: 100%;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 440px) {
  .banner-box:nth-child(2) {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .banner-box:nth-child(2) {
    display: none;
  }
}

@media (max-width: 440px) {
  .banner-box:nth-child(3) {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .banner-box:nth-child(3) {
    display: none;
  }
}

@media (min-width: 1024px) {
  .banner-container {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 80%);
    
  }
}

@media (max-width: 440px) {
  h1.card-title {
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    margin-top: 0px;
    letter-spacing: 0.04em;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  h1.card-title {
    font-size: 25px;
    line-height: 30px;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  h1.card-title {
    font-size: 38px;
    line-height: 46px;
    text-align: left;
  }
}

@media (max-width: 440px) {
  p.card-text {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  p.card-text {
    display: none;
  }
}

@media (max-width: 440px) {
  .title-discount > p.card-title {
    text-align: center;
  }
}

@media (max-width: 440px) {
  .margin-mobile {
    margin: 10px;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .margin-mobile {
    margin: 10px;
  }
}

@media (min-width: 1024px) {
  .padding-desktop {
    padding: 24px 0px;
  }
}

@media (max-width: 440px) {
  .category {
    padding: 0px;
  }
}

@media (min-width: 1024px) {
  .item-padding {
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  h3.card-title {
    font-size: 30px;
    line-height: 37px;
  }
}
@media (max-width: 440px) {
  h3.card-title {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: 1024px) {
  .item-discount {
    top: 0%;
    left: 5%;
  }
}
@media (max-width: 440px) {
  .item-discount {
    top: 0%;
    left: 10%;
  }
}
@media (max-width: 440px) {
  .item-discount {
    top: 0%;
    left: 10%;
  }
}

@media (max-width: 440px) {
  .banner-desktop {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .banner-desktop {
    display: none;
  }
}

@media (max-width: 440px) {
  .body4-banner-desktop {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .body4-banner-desktop {
    display: none;
  }
}

@media (min-width: 1024px) {
  .body4-banner-mobile {
    display: none;
  }
}

@media (min-width: 1024px) {
  h2.card-title {
    font-size: 38px;
    line-height: 46px;
    text-align: left;
    margin-bottom: 0;
  }
}
@media (max-width: 440px) {
  h2.card-title {
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 8px;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  h2.card-title {
    font-size: 30px;
    line-height: 35px;
    text-align: left;
    margin-bottom: 0;
  }
}

@media (max-width: 440px) {
  .row > .banner-box {
    align-items: center;
  }
}

@media (max-width: 440px) {
  .mobile-row {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .mobile-row {
    display: none;
  }
}

@media (max-width: 440px) {
  .mobile-container {
    align-items: center;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .mobile-container {
    align-self: flex-end;
    align-items: center;
  }
}

@media (max-width: 440px) {
  .our-product-img {
    object-fit: cover;
    background-position: center;
    border-radius: 50%;
  }
}

@media (max-width: 440px) {
  .our-product-left {
    height: 300px;
    width: 300px;
  }
}
@media (min-width: 1024px) {
  .our-product-left {
    height: 500px;
    width: 500px;
  }
}
@media  (min-width: 440px) and (max-width: 992px)  {
  .our-product-left {
    height: 300px;
    width: 300px;
  }
}


@media (max-width: 440px) {
  .our-product-img {
    height: 300px;
    width: 300px;
  }
}
@media (min-width: 1024px) {
  .our-product-img {
    height: 500px;
    width: 500px;
  }
}

@media (max-width: 440px) {
  .our-product-box, .col-box-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .our-product-box, .col-box-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 440px) {
  .story-text {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .margin-top {
    margin-top: 50px;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .margin-top {
    margin-top: 30px;
  }
}
@media (max-width: 440px) {
  .margin-top {
    margin-top: 15px;
  }
}

@media (min-width: 1024px) {
  .body6-row-2 > span.card-title {
    margin-left: 15px;
  }
}
@media (max-width: 440px) {
  .body6-row-2 > span.card-title {
    margin-left: 10px;
  }
}

@media (max-width: 440px) {
  .body6-row-2 {
    display: flex;
    justify-content: center;
    align-self: center;
  }
}

@media (max-width: 440px) {
  .body-newsletter > span.card-text,
.col-sm-12 > span.card-text {
    text-align: center;
    width: 80%;
  }
}

@media (max-width: 440px) {
  .btn-responsive {
    margin-top: 20px;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .btn-responsive {
    margin-top: 30px;
  }
}

@media (max-width: 440px) {
  .banner-box-js {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .banner-box-js {
    padding: 50px 0px;
  }
}

@media (min-width: 1024px) {
  .mobile-dot {
    display: none;
  }
}

@media (max-width: 440px) {
  .header-hover {
    display: none;
  }
}

@media (max-width: 440px) {
  .side-header > h3.card-title {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .side-header > h3.card-title {
    display: none;
  }
}

@media (max-width: 440px) {
  .side-service {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .side-service {
    display: none;
  }
}

/*  */
@media (max-width: 440px) {
  .side-body {
    height: auto;
  }
}

@media (max-width: 440px) {
  .header-display {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .header-display {
    display: none;
  }
}

@media (max-width: 440px) {
  .body-banner-desktop {
    display: none;
  }
}

@media (min-width: 1024px) {
  .body-banner-mobile {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .body-banner-mobile {
    display: none;
  }
}

@media (max-width: 440px) {
  .banner-box {
    width: 100%;
    justify-content: flex-end;
    padding: 32px 0;
  }
}
@media (min-width: 1024px) {
  .banner-box {
    width: 50%;
    padding: 0 8px;
    justify-content: center;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .banner-box {
    width: 100%;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 440px) {
  .banner-box:nth-child(2) {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .banner-box:nth-child(2) {
    display: none;
  }
}

@media (max-width: 440px) {
  .banner-box:nth-child(3) {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .banner-box:nth-child(3) {
    display: none;
  }
}

@media (min-width: 1024px) {
  .banner-container {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 80%);
  }
}

@media (max-width: 440px) {
  h1.card-title {
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    margin-top: 0px;
    letter-spacing: 0.04em;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  h1.card-title {
    font-size: 25px;
    line-height: 30px;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  h1.card-title {
    font-size: 38px;
    line-height: 46px;
    text-align: left;
  }
}

@media (max-width: 440px) {
  p.card-text {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  p.card-text {
    display: none;
  }
}

@media (max-width: 440px) {
  .title-discount > p.card-title {
    text-align: center;
  }
}

@media (max-width: 440px) {
  .margin-mobile {
    margin: 10px;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .margin-mobile {
    margin: 10px;
  }
}

@media (min-width: 1024px) {
  .padding-desktop {
    padding: 24px 0px;
  }
}

@media (max-width: 440px) {
  .category {
    padding: 0px;
  }
}

@media (min-width: 1024px) {
  .item-padding {
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  h3.card-title {
    font-size: 30px;
    line-height: 37px;
  }
}
@media (max-width: 440px) {
  h3.card-title {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: 1024px) {
  .item-discount {
    top: 0%;
    left: 5%;
  }
}
@media (max-width: 440px) {
  .item-discount {
    top: 0%;
    left: 10%;
  }
}
@media (max-width: 440px) {
  .item-discount {
    top: 0%;
    left: 10%;
  }
}

@media (max-width: 440px) {
  .banner-desktop {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .banner-desktop {
    display: none;
  }
}

@media (max-width: 440px) {
  .body4-banner-desktop {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .body4-banner-desktop {
    display: none;
  }
}

@media (min-width: 1024px) {
  .body4-banner-mobile {
    display: none;
  }
}

@media (min-width: 1024px) {
  h2.card-title {
    font-size: 38px;
    line-height: 46px;
    text-align: left;
    margin-bottom: 0;
  }
}
@media (max-width: 440px) {
  h2.card-title {
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 8px;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  h2.card-title {
    font-size: 30px;
    line-height: 35px;
    text-align: left;
    margin-bottom: 0;
  }
}

@media (max-width: 440px) {
  .row > .banner-box {
    align-items: center;
  }
}

@media (max-width: 440px) {
  .mobile-row {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .mobile-row {
    display: none;
  }
}

@media (max-width: 440px) {
  .mobile-container {
    align-items: center;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .mobile-container {
    align-self: flex-end;
    align-items: center;
  }
}

@media (max-width: 440px) {
  .our-product-img {
    object-fit: cover;
    background-position: center;
    border-radius: 50%;
  }
}

@media (max-width: 440px) {
  .our-product-left {
    height: 300px;
    width: 300px;
  }
}
@media (min-width: 1024px) {
  .our-product-left {
    height: 500px;
    width: 500px;
  }
}

@media (max-width: 440px) {
  .our-product-img {
    height: 300px;
    width: 300px;
  }
}
@media (min-width: 1024px) {
  .our-product-img {
    height: 500px;
    width: 500px;
  }
}

@media (max-width: 440px) {
  .our-product-box, .col-box-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .our-product-box, .col-box-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 440px) {
  .story-text {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .margin-top {
    margin-top: 50px;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .margin-top {
    margin-top: 30px;
  }
}
@media (max-width: 440px) {
  .margin-top {
    margin-top: 15px;
  }
}

@media (min-width: 1024px) {
  .body6-row-2 > span.card-title {
    margin-left: 15px;
  }
}
@media (max-width: 440px) {
  .body6-row-2 > span.card-title {
    margin-left: 10px;
  }
}

@media (max-width: 440px) {
  .body6-row-2 {
    display: flex;
    justify-content: center;
    align-self: center;
  }
}

@media (max-width: 440px) {
  .body-newsletter > span.card-text,
.col-sm-12 > span.card-text {
    text-align: center;
    width: 80%;
  }
}

@media (max-width: 440px) {
  .btn-responsive {
    margin-top: 20px;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .btn-responsive {
    margin-top: 30px;
  }
}

@media (max-width: 440px) {
  .banner-box-js {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .banner-box-js {
    padding: 50px 0px;
  }
}

@media (min-width: 1024px) {
  .mobile-dot {
    display: none;
  }
}

@media (max-width: 440px) {
  .header-hover {
    display: none;
  }
}
@media (max-width: 440px) {
  .header-hover {
    display: none;
  }
}

@media (max-width: 440px) {
  .side-header > h3.card-title {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .side-header > h3.card-title {
    display: none;
  }
}

@media (max-width: 440px) {
  .side-service {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .side-service {
    display: none;
  }
}


@media (max-width: 440px) {
  .side-body {
    height: auto;
  }
}

.header-hover {
  padding-top: 50px;
}

.header-img {
  object-fit: cover;
  height: 50px;
  width: 50px;
}

.col-box {
  display: flex;
  justify-content: space-between;
}

.col-group-item {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

h6.card-title {
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.04em;
  font-family: "Montserrat", sans-serif;
  
}

.col-3-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.header-hover{
  display: none;
  position: absolute;
  background-color: #fff;
  transition: 0.2s;
  align-items: center;
  left: 0%;
  right: 0%;
  padding: 10px;
}


.nav-item:hover > .header-hover {
  display: block;
}

.col-brand {
  position: relative;
}

.brand-img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.brand-img-text {
  width: 200px;
  object-fit: cover;
  margin-bottom: 23px;
}

.brand-text {
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-edit {
  background-color: none;
  color: white;
  border: 1px solid white;
}
.btn-edit:hover {
  background-color: white;
  color: black;
}

.card-col-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-animation {
  transition: all 0.5s;
}

.card-animation:hover {
  transform: scale(1.1);
  opacity: 1;
}



.sidepanel {
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: auto;
  transition: 0.5s;
  padding: 60px 30px 0px 30px;
  height: fit-content;
  display: flex;
}

#mySidepanel {
  display: none;
}

.closebtn {
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}
.closebtn:hover {
  color: red;
  text-decoration: none;
}

.side-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.cart-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0px;
    /* height: 60px; */
}

.side-body {
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow-y: scroll;

}

.side-service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5f5f5;
}
.side-service-box{
  display: flex;
}
.side-service-group {
  display: flex;
  padding: 20px;
}

@media (max-width: 440px) {
  .header-display {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .header-display {
    display: none;
  }
}

@media (max-width: 440px) {
  .body-banner-desktop {
    display: none;
  }
}

@media (min-width: 1024px) {
  .body-banner-mobile {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .body-banner-mobile {
    display: none;
  }
}

@media (max-width: 440px) {
  .banner-box {
    width: 100%;
    justify-content: flex-end;
    padding: 32px 0;
  }
}
@media (min-width: 1024px) {
  .banner-box {
    width: 50%;
    padding: 0 8px;
    justify-content: center;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .banner-box {
    width: 100%;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 440px) {
  .banner-box:nth-child(2) {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .banner-box:nth-child(2) {
    display: none;
  }
}

@media (max-width: 440px) {
  .banner-box:nth-child(3) {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .banner-box:nth-child(3) {
    display: none;
  }
}

@media (min-width: 1024px) {
  .banner-container {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 80%);
  }
}

@media (max-width: 440px) {
  h1.card-title {
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    margin-top: 0px;
    letter-spacing: 0.04em;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  h1.card-title {
    font-size: 25px;
    line-height: 30px;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  h1.card-title {
    font-size: 38px;
    line-height: 46px;
    text-align: left;
  }
}

@media (max-width: 440px) {
  p.card-text {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  p.card-text {
    display: none;
  }
}

@media (max-width: 440px) {
  .title-discount > p.card-title {
    text-align: center;
  }
}

@media (max-width: 440px) {
  .margin-mobile {
    margin: 10px;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .margin-mobile {
    margin: 10px;
  }
}

@media (min-width: 1024px) {
  .padding-desktop {
    padding: 24px 0px;
  }
}

@media (max-width: 440px) {
  .category {
    padding: 0px;
  }
}

@media (min-width: 1024px) {
  .item-padding {
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  h3.card-title {
    font-size: 30px;
    line-height: 37px;
  }
}
@media (max-width: 440px) {
  h3.card-title {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: 1024px) {
  .item-discount {
    top: 0%;
    left: 5%;
  }
}

@media (min-width: 440px) and (max-width: 992px) {
  .item-discount {
    top: 5%;
    left: 5%;
  }
}
@media (max-width: 440px) {
  .item-discount {
    top: 0%;
    left: 10%;
  }
}
@media (max-width: 440px) {
  .banner-desktop {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .banner-desktop {
    display: none;
  }
}

@media (max-width: 440px) {
  .body4-banner-desktop {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .body4-banner-desktop {
    display: none;
  }
}

@media (min-width: 1024px) {
  .body4-banner-mobile {
    display: none;
  }
}

@media (min-width: 1024px) {
  h2.card-title {
    font-size: 38px;
    line-height: 46px;
    text-align: left;
    margin-bottom: 0;
  }
}
@media (max-width: 440px) {
  h2.card-title {
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 8px;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  h2.card-title {
    font-size: 30px;
    line-height: 35px;
    text-align: left;
    margin-bottom: 0;
  }
}

@media (max-width: 440px) {
  .row > .banner-box {
    align-items: center;
  }
}

@media (max-width: 440px) {
  .mobile-row {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .mobile-row {
    display: none;
  }
}

@media (max-width: 440px) {
  .mobile-container {
    align-items: center;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .mobile-container {
    align-self: flex-end;
    align-items: center;
  }
}

@media (max-width: 440px) {
  .our-product-img {
    object-fit: cover;
    background-position: center;
    border-radius: 50%;
  }
}

@media (max-width: 440px) {
  .our-product-left {
    height: 300px;
    width: 300px;
  }
}
@media (min-width: 1024px) {
  .our-product-left {
    height: 500px;
    width: 500px;
  }
}

@media (max-width: 440px) {
  .our-product-img {
    height: 300px;
    width: 300px;
  }
}
@media (min-width: 1024px) {
  .our-product-img {
    height: 500px;
    width: 500px;
  }
}

@media (max-width: 440px) {
  .our-product-box, .col-box-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .our-product-box, .col-box-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 440px) {
  .story-text {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .margin-top {
    margin-top: 50px;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .margin-top {
    margin-top: 30px;
  }
}
@media (max-width: 440px) {
  .margin-top {
    margin-top: 15px;
  }
}

@media (min-width: 1024px) {
  .body6-row-2 > span.card-title {
    margin-left: 15px;
  }
}
@media (max-width: 440px) {
  .body6-row-2 > span.card-title {
    margin-left: 10px;
  }
}

@media (max-width: 440px) {
  .body6-row-2 {
    display: flex;
    justify-content: center;
    align-self: center;
  }
}

@media (max-width: 440px) {
  .body-newsletter > span.card-text,
.col-sm-12 > span.card-text {
    text-align: center;
    width: 80%;
  }
}

@media (max-width: 440px) {
  .btn-responsive {
    margin-top: 20px;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .btn-responsive {
    margin-top: 30px;
  }
}

@media (max-width: 440px) {
  .banner-box-js {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .banner-box-js {
    padding: 50px 0px;
  }
}

@media (min-width: 1024px) {
  .mobile-dot {
    display: none;
  }
}

@media (max-width: 440px) {
  .header-hover {
    display: none;
  }
}
@media (max-width: 440px) {
  .header-hover {
    display: none;
  }
}

@media (max-width: 440px) {
  .side-header > h3.card-title {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .side-header > h3.card-title {
    display: none;
  }
}

@media (max-width: 440px) {
  .side-service {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .side-service {
    display: none;
  }
}

/* @media (min-width: 1024px) {
  .side-body {
    height: 300px;
  }
} */
@media (max-width: 440px) {
  .side-body {
    height: auto;
  }
}

.body {
  min-height: 100vh;
}

p, .text, .span {
  font-family: "Montserrat", sans-serif;
}

.banner {
  position: relative;
  width: 100%;
  background: none;
}

.body-banner-desktop {
  position: relative;
}

.body-banner-img {
  object-fit: cover;
  width: 100%;
}

.banner-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  border: 1px solid;
  display: flex;
}

.banner-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

h1.card-title {
  letter-spacing: 0.04em;
  color: #ffffff;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

p.card-text {
  display: block;
  margin-top: 16px;
  font-size: 14px;
  line-height: 21px;
  white-space: pre-line;
  max-width: 75%;
  text-align: center;
  padding: 0;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.category {
  width: 100%;
  background-color: #ffffff;
  padding: 24px;
}

.category-img {
  position: relative;
}

.category-container {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

.category-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

h5.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.04em;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

p.card-title {
  color: #fff;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.title-discount > p.card-title {
  color: black;
  text-decoration: line-through;
}

.best-seller-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  transition: all 0.5s;
  background-color: #fff;
  transition: all 1s;
}
.gallery-container:hover {

    z-index: 1;
    width: 100%;
    position: absolute;
    transform: translateY(-20px);
    box-shadow: 0 24px 0px 0px white, 0 -24px 0px 0px white, 24px 0 40px -24px rgb(0 0 0 / 12%), -24px 0 40px -24px rgb(0 0 0 / 12%);
}

span.card-title {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.gallery-container {
  padding: 20px;
}

.gallery-container:hover > .item-favorite {
  display: block;
}

h3.card-title {
  font-weight: 500;
  letter-spacing: 0.05em;
  font-family: "Montserrat", sans-serif;
}

.card-link {
  display: block;
}

.item-discount {
  position: absolute;
  font-size: 12px;
  background: #ca0815;
  border-radius: 5px;
  color: #fff;
  padding: 0 10px;
  height: 26px;
  line-height: 26px;
  font-weight: bold;
  text-align: left;
}

.item-favorite {
  cursor: pointer;
  position: absolute;
  top: 0%;
  right: 9%;
  background: inherit;
  transition: all 0.3s ease 0s;
  border-color: inherit;
}
@media (min-width: 440px) and (max-width: 992px) {
  .item-favorite {
    top: 5%;
    right: 10%;
  }
}
.body-4 {
  position: relative;
  width: 100%;
}

.body4-banner-desktop {
  position: relative;
  object-fit: cover;
  width: 100%;
}

.row > .banner-box {
  align-items: flex-start;
}

.col-container {
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.col-box-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

h2.card-title {
  font-weight: 500;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.mobile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.our-product-left {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
}

.our-product {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-product-img {
  position: absolute;
  object-fit: cover;
  background-position: center;
}

.our-product-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.our-product-info {
  margin-bottom: 20px;
}

.active, .our-product-info:hover {
  background-color: black;
}

.our-product-more {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-align: left;
  margin-bottom: 20px;
}

.our-product-more {
  display: none;
  overflow: hidden;
}

.responsive {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}

.story-text {
  width: 700px;
}

.story-img {
  object-fit: cover;
  width: 100%;
}

.position {
  position: relative;
}

.body-6-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  padding: 0;
  display: flex;
}

span.card-text {
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
}

.body-6-text {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon-box {
  margin-top: 24px;
  margin-bottom: 20px;
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
}

.body6-padding {
  padding: 20px 0;
}

.body6-icon {
  margin-right: 20px;
  width: 3px;
  height: 30px;
}

.body-newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.body-newsletter > h5.card-title {
  color: black;
}

.btn-responsive {
  width: 100%;
}

.news-box {
  border-left: 1px solid #e5e5e5;
  padding: 0px 0px 10px 10px;
}

.news-box > p.card-text {
  color: black;
  max-width: 100%;
  text-align: left;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.product-img {
  background-position: -260.5px 0px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: #fff6ed;
}

.product-full {
  position: relative;
}

.product-full-img {
  position: relative;
}

.product-full-img {
  object-fit: cover;
  width: 100%;
}

.product-gift-img {
  object-fit: cover;
  width: 100%;
}

.product-container {
  position: absolute;
  bottom: 0;
  top: 10%;
  left: 0;
  right: 0;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.product-box {
  width: 100%;
}

.product-img {
  object-fit: cover;
  height: 100%;
}

.group-icon svg {
  color: yellow;
}

.group-text {
  display: flex;
  flex-direction: column;
}

.product-group:nth-child(1) {
  position: absolute;
  top: 10%;
}

.product-group:nth-child(2) {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10%;
}

.col-text {
  padding-top: 100px;
}

.product-review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap-btn {
  align-self: center;
}

.slider {
  width: 90%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.group-header {
  display: flex;
  justify-content: space-between;
}

.group-footer {
  display: flex;
  justify-content: flex-start;
}

.review-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #c4c4c4;
  text-align: center;
  vertical-align: middle;
}

.review-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-review {
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  min-width: 30%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.group {
  display: flex;
}

.slider::-webkit-scrollbar {
  display: none;
}

.sidepanelLeft {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 300px;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanelLeft .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.sidepanelLeft a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
  transition: 0.3s;
}
.sidepanelLeft a:hover {
  color: #f1f1f1;
}

@media (max-width: 440px) {
  .header-display {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .header-display {
    display: none;
  }
}

@media (max-width: 440px) {
  .body-banner-desktop {
    display: none;
  }
}

@media (min-width: 1024px) {
  .body-banner-mobile {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .body-banner-mobile {
    display: none;
  }
}

@media (max-width: 440px) {
  .banner-box {
    width: 100%;
    justify-content: flex-end;
    padding: 32px 0;
  }
}
@media (min-width: 1024px) {
  .banner-box {
    width: 50%;
    padding: 0 8px;
    justify-content: center;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .banner-box {
    width: 100%;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 440px) {
  .banner-box:nth-child(2) {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .banner-box:nth-child(2) {
    display: none;
  }
}

@media (max-width: 440px) {
  .banner-box:nth-child(3) {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .banner-box:nth-child(3) {
    display: none;
  }
}

@media (min-width: 1024px) {
  .banner-container {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 80%);
  }
}

@media (max-width: 440px) {
  h1.card-title {
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    margin-top: 0px;
    letter-spacing: 0.04em;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  h1.card-title {
    font-size: 25px;
    line-height: 30px;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  h1.card-title {
    font-size: 38px;
    line-height: 46px;
    text-align: left;
  }
}

@media (max-width: 440px) {
  p.card-text {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  p.card-text {
    display: none;
  }
}

@media (max-width: 440px) {
  .title-discount > p.card-title {
    text-align: center;
  }
}

@media (max-width: 440px) {
  .margin-mobile {
    margin: 10px;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .margin-mobile {
    margin: 10px;
  }
}

@media (min-width: 1024px) {
  .padding-desktop {
    padding: 24px 0px;
  }
}

@media (max-width: 440px) {
  .category {
    padding: 0px;
  }
}

@media (min-width: 1024px) {
  .item-padding {
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  h3.card-title {
    font-size: 30px;
    line-height: 37px;
  }
}
@media (max-width: 440px) {
  h3.card-title {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: 1024px) {
  .item-discount {
    top: 0%;
    left: 5%;
  }
}
@media (max-width: 440px) {
  .item-discount {
    top: 0%;
    left: 10%;
  }
}
@media (max-width: 440px) {
  .item-discount {
    top: 0%;
    left: 10%;
  }
}

@media (max-width: 440px) {
  .banner-desktop {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .banner-desktop {
    display: none;
  }
}

@media (max-width: 440px) {
  .body4-banner-desktop {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .body4-banner-desktop {
    display: none;
  }
}

@media (min-width: 1024px) {
  .body4-banner-mobile {
    display: none;
  }
}

@media (min-width: 1024px) {
  h2.card-title {
    font-size: 38px;
    line-height: 46px;
    text-align: left;
    margin-bottom: 0;
  }
}
@media (max-width: 440px) {
  h2.card-title {
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 8px;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  h2.card-title {
    font-size: 30px;
    line-height: 35px;
    text-align: left;
    margin-bottom: 0;
  }
}

@media (max-width: 440px) {
  .row > .banner-box {
    align-items: center;
  }
}

@media (max-width: 440px) {
  .mobile-row {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .mobile-row {
    display: none;
  }
}

@media (max-width: 440px) {
  .mobile-container {
    align-items: center;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .mobile-container {
    align-self: flex-end;
    align-items: center;
  }
}

@media (max-width: 440px) {
  .our-product-img {
    object-fit: cover;
    background-position: center;
    border-radius: 50%;
  }
}

@media (max-width: 440px) {
  .our-product-left {
    height: 300px;
    width: 300px;
  }
}
@media (min-width: 1024px) {
  .our-product-left {
    height: 500px;
    width: 500px;
  }
}

@media (max-width: 440px) {
  .our-product-img {
    height: 300px;
    width: 300px;
  }
}
@media (min-width: 1024px) {
  .our-product-img {
    height: 500px;
    width: 500px;
  }
}

@media (max-width: 440px) {
  .our-product-box, .col-box-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .our-product-box, .col-box-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 440px) {
  .story-text {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .margin-top {
    margin-top: 50px;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .margin-top {
    margin-top: 30px;
  }
}
@media (max-width: 440px) {
  .margin-top {
    margin-top: 15px;
  }
}

@media (min-width: 1024px) {
  .body6-row-2 > span.card-title {
    margin-left: 15px;
  }
}
@media (max-width: 440px) {
  .body6-row-2 > span.card-title {
    margin-left: 10px;
  }
}

@media (max-width: 440px) {
  .body6-row-2 {
    display: flex;
    justify-content: center;
    align-self: center;
  }
}

@media (max-width: 440px) {
  .body-newsletter > span.card-text,
.col-sm-12 > span.card-text {
    text-align: center;
    width: 80%;
  }
}

@media (max-width: 440px) {
  .btn-responsive {
    margin-top: 20px;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .btn-responsive {
    margin-top: 30px;
  }
}

@media (max-width: 440px) {
  .banner-box-js {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .banner-box-js {
    padding: 50px 0px;
  }
}

@media (min-width: 1024px) {
  .mobile-dot {
    display: none;
  }
}

@media (max-width: 440px) {
  .header-hover {
    display: none;
  }
}
@media (max-width: 440px) {
  .header-hover {
    display: none;
  }
}

@media (max-width: 440px) {
  .side-header > h3.card-title {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .side-header > h3.card-title {
    display: none;
  }
}

@media (max-width: 440px) {
  .side-service {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .side-service {
    display: none;
  }
}


@media (max-width: 440px) {
  .side-body {
    height: auto;
  }
}

.footer-img {
  object-fit: cover;
  height: 40px;
}

.col-8 > p.card-text {
  text-align: left;
  color: black;
  margin: 0px;
}

.responsive {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: sticky;
  height: 100px;
}

.body {
  margin-top: 100px;
}

.active, .slideshow:hover {
  background-color: black;
}

body {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Montserrat", "-apple-system", "BlinkMacSystemFont", "sans-serif"; */
  box-sizing: border-box;
}

div {
  font-family: "Montserrat", sans-serif;
}
.form-check-center{
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
.form-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.padding-top{
  padding-top: 20px;
}
.login-padding{
  padding: 70px 108px;
}
.login-group{
  box-shadow: 0px 0px 40px rgb(0 0 0 / 10%);
}

@media (max-width: 440px) {
  .login-right{
    position: relative;
    background: linear-gradient( to right, rgb(146 133 133 / 0%) 0%, #cacaca 80%);
    background-size: cover;
    height: 500px;
  }
}
@media (min-width: 1024px){
  .login-right{
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 60px 50px;
    position: relative;
  }
}
.login-right-img{
  object-fit: cover;
  position: relative;
  width: 100%;
  background: linear-gradient( to right, rgb(146 133 133 / 0%) 0%, #cacaca 80%);  
}


@media (min-width: 440px){
  .login-right-img{
    object-fit: cover;
    position: relative;
    background: linear-gradient( to right, rgb(146 133 133 / 0%) 0%, #cacaca 80%);
    height: 100%;
  }
}
@media (min-width: 440px){
  .signup-text > h3.card-title{
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}
@media (min-width: 1024px){
  .signup-group{
    padding: 30px 0px;
  }
}
@media (min-width: 440px){
  .signup-group{
    padding: 10px 0px;
  }
}
@media (min-width: 440px){
  .signup{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px;
  }
}
.signup-box{
  display: flex;
  align-items: center;
  margin-bottom: 20px;

}
@media (max-width: 440px){
  .signup{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto; 
    padding: 30px;
  }
}
@media(min-width: 1024px){
  .signup{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto; 
    padding: 100px 50px;
  }
}
@media (min-width: 440px){
  .signup-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 440px){
  .signup-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

@media (max-width: 1024px){
  .circle-box{
      border-radius: 50%;
      height: 50px;
      width: 50px;
      object-fit: contain;
      background-color: black;
      margin-right: 15px;
  }
}
@media (max-width: 440px){
  .circle-box{
      border-radius: 50%;
      height: 30px;
      width: 30px;
      object-fit: contain;
      background-color: black;
      margin-right: 15px;
  }
}
.col-responsive{
  display: flex;
  box-shadow: inset 0px -1px 0px #000;
  justify-content: center;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  outline: none;
  align-self: stretch;
  text-transform: uppercase;
}
.box-text{
  color: black;
  font-size: 20px;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.nav-item:hover > .dropdown-content{
  display: block;
}
.dropdown a:hover {background-color: #ddd;}

.show {
  display: block;
}
.women-banner{
  display: flex;
  position: relative;
  width: 100%;
  background-size: contain;
  margin: 0 auto;
}


@media (min-width: 1024px) {
  .women-banner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 50px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    bottom: 0;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .women-banner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    bottom: 0;
  }
}
@media (max-width: 440px) {
  .women-banner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    bottom: 0;
  }
}


@media (min-width: 1024px) {
  .women-banner-box {
    width: 50%;
    padding: 0 8px;
    margin: auto 0;
  }
}
@media (min-width: 440px) and (max-width: 992px) {
  .women-banner-box {
    width: 50%;
    padding: 0 8px;
    margin: auto 0;
  }
}
input+p {
  font-size: 12px;
  color: red;
}
.gallery-cart{
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  color: black;
}
.cart-text{
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  color: black;
}


.card-body-img{
  width: 100px;
  height: 100px;
}
.cart-item-img{
  object-fit: cover;
  width: 100px;
  height: 100px;
}
.card-responsive{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.cart-name{
  display: flex;
  align-items: center;
}

.cart-price{
  width: 23%;
  font-size: 20px;
  color: black;
}
.cart-plus{
  width: 20px;
}

.cart-footer{
  display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.cart-row{
  display: flex;
  justify-content: space-between;
}
.cart-row:last-child{
  border-bottom: 1px solid black;
}
.cart-row:last-child .cart-column{
  border: none;
}
.cart-item{
  width: 45%;
}
.cart-header{
  font-weight: bold;
  font-size: 20px;
  color: black;
}
.cart-column{
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-top: 10px;
}


.cart-item-image{
  width: 75px;
  height: auto;
  border-radius: 10px;
}
.cart-item-title{
  color: black;
  font-size: 20px;
}
.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}
.side-left{
  /* width: 50%; */
}
/*# sourceMappingURL=main.css.map */
